* {
  margin: 0px;
  padding: 0px;
}

.container {
  text-align: center;
  margin-top: 25px;
}

#carta-texto {
  height: 20px;
  width: 500px;
}

#criar-carta {
  height: 25px;
}

#carta-gerada {
  text-align: center;
}

.newspaper {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  background-color: antiquewhite;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url(images/pink-pattern.png);
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}