* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.counterParagraph {
  margin-bottom: 12px;
  text-align: center;
  font-size: 1.6rem;
}

.container {
  margin-top: 24px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerLetter {
  margin-top: 12px;
}


#carta-texto {
  height: 2.5em;
  width: 20em;
  text-indent: 4px;
}

#criar-carta {
  height: 2.5em;
  cursor: pointer;
}

#carta-gerada {
  width: 90vw;
  overflow-wrap: break-word;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

#carta-gerada span {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 0.9rem;
}

.newspaper {
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
  background-color: antiquewhite;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  background-size: cover;
  text-shadow: 2px 2px 1px black;
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}
